@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #1f2937;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .08);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #2563eb;
}

.logo i {
    margin-right: 10px;
}
.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #1f2937;
    font-weight: 500;
    transition: .3s;
}

.menu a:hover {
    color: #2563eb;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}
#themeBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #f3f4f6;
}

.admission-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
}
/* HERO */

.hero {
    padding: 170px 0 100px;
    background: linear-gradient(to right,
            #dbeafe,
            #ffffff);
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.hero-text {
    flex: 1;
}

.hero-text span {
    color: #2563eb;
    font-weight: 600;
}
.hero-text h1 {
    font-size: 65px;
    margin: 20px 0;
    line-height: 1.2;
}

.hero-text p {
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 30px;
    line-height: 1.8;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}